.ownership-timeline {
  .MuiStepContent-root {
    border-left: 2px solid #E0E0E0;
    margin-left: 20px;
    padding-left: 24px;
  }

  .MuiStep-root {
    .MuiStepLabel-root {
      .MuiStepLabel-label {
        margin-top: 8px;
      }
    }
  }
}

