.credit-queue-page {
  .page-title {
    margin-bottom: 8px;
  }

  .credit-queue-toolbar {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    padding: 16px;
  }
}
